@import "../../../../styles-boje";

* {
	text-align: center;
}

h1 {
	font-size: xxx-large;
	margin-bottom: 32px;
}

p {
	font-size: x-large;
	+ p {
		margin: {
			top: 32px;
			bottom: 24px;
		};
		font-weight: lighter;
	}

	a {
		font-weight: normal;
		font-size: 16px;
		border-radius: 5px;
		padding: 10px;
		background-color: $zuta;
		color: $crna;
	}

	span {
		font-weight: bold;
	}
}
