@import '../../../../styles-boje';

.btn-grupa {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
	margin-top: 12px;

	button + button {
		background-color: $crvena;
	}
}
